body {
  background-color: #D4C1C5;
}

.me {
  height: 40vmin;
  width: 40vmin;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.logo {
  height: 20vmin;
  width: 40vmin;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -60%);
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
}

h1 {
  color: #4A1019;
  padding: 1.5rem;
  height: 25%;
  white-space: pre-wrap;
  text-align: center;
}

p {
  font-size: 30px;
  position: absolute;
  padding: 2.5rem;
  text-align: center;
}